@using PagedList.Mvc;
@model PagedList.IPagedList<ChicStoreManagement.WEB.ViewModel.DesignResultViewModel>
@{
    ViewBag.Title = "设计案完结审查";

}
<script>
    // 等待所有加载
    $(window).on("load", function () {
        startLoading();
        $("#loadingDiv").remove();
    });
    function sub(otr) {
        var obj = otr.parentNode;
        var se = obj.getElementsByTagName("select");
        var index = se[0].selectedIndex; // 选中索引
        var rows = otr.parentNode.parentNode.rowIndex;
        var trackid = $("#tb tr:eq(" + rows + ") td:eq(0)").html();
        if (index != null) {
            var text = se[0].options[index].text; // 选中文本
            var value = se[0].options[index].value; // 选中值

           $.ajax({
                type: "POST",
                url: '@Url.Action("DesignResultExamine", "ManagerExamine")',
               data: { id: trackid,examineType: JSON.stringify(value) },//将对象转化JSON字符串格式并传出
                dataType: "json",
               async:true,
               beforeSend: function () {
                   startLoading();
               },
               success: function (data) {
                   alert(data);
                   window.location.reload();
                },
               error: function (XMLHttpRequest, textStatus, errorThrown) {
                   alert("操作超时!");
                   window.location.reload();

                }

            });

        }
    }
    function startLoading() {
        //获取浏览器页面可见高度和宽度
        var _PageHeight = document.documentElement.clientHeight,
            _PageWidth = document.documentElement.clientWidth;
        //计算loading框距离顶部和左部的距离（loading框的宽度为215px，高度为61px）
        var _LoadingTop = _PageHeight > 61 ? (_PageHeight - 61) / 2 : 0,
            _LoadingLeft = _PageWidth > 215 ? (_PageWidth - 215) / 2 : 0;
        $("body").append('<div id="loadingDiv" style="position:absolute;left:0;width:100%;height:' + _PageHeight + 'px;top:0;background:#f3f8ff;opacity:1;filter:alpha(opacity=80);z-index:10000;"><div style="position: absolute; cursor1: wait; left: ' + _LoadingLeft + 'px; top:' + _LoadingTop + 'px; width: auto; height: 57px; line-height: 57px; padding-left: 50px; padding-right: 5px; background-image:  url("../../images/uploading.gif")  no-repeat scroll 5px 10px; border: 2px solid #95B8E7; color: #696969; font-family:\'Microsoft YaHei\';">正在处理...稍后...</div></div>');
    }

    //加载状态为complete时移除loading效果
    function completeLoading() {
        if (document.readyState == "complete") {
            var loadingMask = document.getElementById('loadingDiv');
            loadingMask.parentNode.removeChild(loadingMask);
        }
    }
</script>
<h2>设计案完结审查</h2>
<table  class="table table-hover table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>客户姓名</td>
            <td>联系方式</td>
            <td>楼盘具体位置</td>
            <td>提交日期</td>
            <td>销售人员</td>
            <td>设计师</td>
            <td>设计师确认</td>
            <td>店长</td>
            <td>店长确认</td>
            <td>详情</td>
            <td>审批操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.客户姓名</td>
                <td>@item.联系方式</td>
                <td>@item.楼盘具体位置</td>
                <td>@item.制单日期</td>
                <td>@item.销售人员</td>
                <td>@item.设计师</td>
                <td>@item.设计师确认</td>
                <td>@item.店长</td>
                <td>@item.店长审核</td>
                <td>@Html.ActionLink("查看", "DesignResultInfoView", "DesignResult", new { id = item.Id }, new { })</td>
                <td>
                    <select class="form-control" id="trackselect">
                        <option value="true">通过</option>
                        <option value="false">驳回</option>
                    </select><a onclick="sub(this)" class="btn btn-primary btn-xs" style="background-color:white;color:black">确定</a>
                </td>

            </tr>
        }
    </tbody>
</table>

