@model PagedList.IPagedList<ChicStoreManagement.Model.销售_店铺员工档案>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{


                ViewBag.Title = "人员管理";
}


<br />
<br />
@using (Html.BeginForm("ManagerAction", "Manager", FormMethod.Get))
{
    <p>
        通过姓名查找: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @Style = "display:inline" })
        <input id="Submit1" type="submit" value="查询" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ID", "ManagerAction", new { sortOrder = ViewBag.Number })
        </th>
        <th>编号</th>
        <th>
            @Html.ActionLink("姓名", "ManagerAction", new { sortOrder = ViewBag.Name })
        </th>


        <th>性别</th>
        <th>店铺ID</th>
        <th>职务ID</th>
        <th>联系方式</th>
        <th>停用标志</th>
        <th>制单人</th>
        <th>制单日期</th>
        <th>密码</th>
        <th>操作</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.编号)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.性别)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.店铺ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.职务ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.联系方式)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.停用标志)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.制单人)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.制单日期)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.密码)
            </td>
            <td>
                @Html.ActionLink("修改", "EditEmploee", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Manager", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("ManagerAction",
    new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))