@model ChicStoreManagement.WEB.ViewModel.DesignSubmitModel
@{
    ViewBag.Title = "软装服务设计案提交表";
}

<h2>软装服务设计案提交表</h2>
<div>
    <form action="~/DesignScheme/DesignApply" method="post">
       
        <div class="table-responsive">
            @Html.ValidationSummary(true)
            当填表前销售人员：<input type="text" name="销售人员" value="@ViewBag.EmployeeName" readonly="readonly" />
            <table class="table table-bordered">
                <tr>
                    <td width="10%">客户名称</td>
                    <td>
                        @Html.EditorFor(Model => Model.客户姓名)
                        <span style="color:red">*</span>
                        @Html.ValidationMessageFor(Model => Model.客户姓名)
                    </td>
                    <td>联系方式</td>
                    <td>
                        @Html.DropDownListFor(Model => Model.联系方式, ViewBag.CustomerPhoneNumber as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>职业</td>
                    <td>
                        @Html.EditorFor(Model => Model.职业)
                    </td>
                    <td>家庭成员</td>
                    <td>
                        @Html.EditorFor(Model => Model.家庭成员)
                    </td>
                </tr>
                <tr>
                    <td>楼盘具体位置</td>
                    <td colspan="3">
                        @Html.EditorFor(Model => Model.楼盘具体位置)
                    </td>
                </tr>
                <tr>
                    <td>面积大小</td>
                    <td colspan="3">
                        @Html.EditorFor(Model => Model.面积大小)
                    </td>
                </tr>
                <tr>
                    <td>装修风格</td>
                    <td colspan="3">@Html.EditorFor(Model => Model.装修风格)</td>
                </tr>
                <tr>
                    <td>装修进度</td>
                    <td colspan="3">@Html.EditorFor(Model => Model.装修进度)</td>
                </tr>
                <tr>
                    <td>预算(可细化到空间)</td>
                    <td colspan="3">@Html.EditorFor(Model => Model.预算)</td>
                </tr>
                <tr>
                    <td colspan="4">客户喜好或忌讳的颜色，形状，材质等</td>
                </tr>
                <tr>
                    <td colspan="4">@Html.EditorFor(Model => Model.客户喜好)</td>
                </tr>
                <tr>
                    <td colspan="4">客户正在比较的品牌或已经购买的品牌</td>
                </tr>
                <tr>
                    <td colspan="4">@Html.EditorFor(Model => Model.客户在意品牌或已购买品牌)</td>
                </tr>
                <tr>
                    <td colspan="4">客户问题及特殊要求</td>
                </tr>
                <tr>
                    <td colspan="4">@Html.EditorFor(Model => Model.客户提问与要求)</td>
                </tr>
                <tr>
                    <td colspan="4">
                        项目方案要求

                        @Html.EditorFor(Model => Model.整体软装配饰)
                    </td>
                </tr>
                <tr>
                    <td>家具：</td>
                </tr>
                <tr>
                    <td>项目提交时间</td>
                    <td colspan="3">
                        <input type="text" name="项目提交时间" value="@DateTime.Now.ToString()" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>项目量房时间</td>
                    <td colspan="3">
                        <input type="date" name="项目量房时间" value="@DateTime.Now.Date">
                    </td>
                </tr>
                <tr>
                    <td>项目预计完成时间</td>
                    <td colspan="3"><input type="date" name="项目预计完成时间" value="@DateTime.Now.Date" class="form-control" /></td>
                </tr>
                <tr><td colspan="4"><input type="submit" value="提交" /></td></tr>
            </table>
        </div>
    </form>
</div>
<input type="button" onclick="javascript:window.history.go(-1);" value="返回上一页">