@using PagedList.Mvc;
@model PagedList.IPagedList <ChicStoreManagement.WEB.ViewModel.DesignTackLogViewModel>

    @{
        ViewBag.Title = "DesignTrakLogIndex";
    }

    <h2>设计案跟进日志</h2>

    <div>
        <p>
            @Html.ActionLink("添加客户接待信息", "AddDesignTrackLogView", new { @class = "form-control", @Style = "font-size:12px" })
        </p>
        @using (Html.BeginForm("DesignTrackLogIndex", "DesignTrackLog", FormMethod.Get))
        {
            <p>
                通过客户电话查找: @Html.TextBox("SearchString", ViewBag.DesignTrackLogCurrentFilter as string, new { @class = "form-control", @Style = "display:inline" })
                <input id="Submit1" type="submit" value="查询" class="btn" />
            </p>
        }
        <hr />
        @if (Model.Count!=0)
        {
            <table>
                <tr>
                    <td>客户名称:</td>
                    <td>@Model.FirstOrDefault().客户姓名</td>
                    <td>联系方式:</td>
                    <td>@Model.FirstOrDefault().联系方式</td>
                </tr>
                <tr>
                    <td>楼盘具体位置:</td>
                    <td colspan="3">@Model.FirstOrDefault().楼盘具体位置</td>
                </tr>
                <tr>
                    <td>销售人员:</td>
                    <td>@Model.FirstOrDefault().销售人员</td>
                    <td>设计师:</td>
                    <td>@Model.FirstOrDefault().设计师</td>
                </tr>
                <tr>

                    <td>设计案需求提交时间:</td>
                    <td colspan="3">@Model.FirstOrDefault().设计案需求提交时间 </td>
                </tr>
            </table>
        }

        <div>
            <table class="table">
                <tr>

                    <th>@Html.ActionLink("日期", "DesignTrackLogIndex", new { sortOrder = ViewBag.DesignTrackLogDate })</th>
                    <th>进度描述</th>
                    <th>参与人员</th>
                    <th>需要的支持</th>
                    <th>预计签约时间</th>
                    <th>@Html.ActionLink("提交时间", "DesignTrackLogIndex", new { sortOrder = ViewBag.DesignSubmitDate })</th>
                    <th>店长审查</th>
                    <th>备注</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.跟进日期</td>
                        <td>@item.进度描述</td>
                        <td>@item.参与人员</td>
                        <td>@item.需要的支持</td>
                        <td>@item.预计签约时间</td>
                        <td>@item.设计案需求提交时间</td>
                        <td>@item.店长审查</td>
                        <td>@item.备注</td>
                    </tr>
                }
            </table>

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.DesignTrackLogCurrentSort, currentFilter = ViewBag.DesignTrackLogCurrentFilter }))

        </div>
    </div>
