
@model IEnumerable<ChicStoreManagement.Model.StoreEmploeeModel>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactWay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopFlg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentMaker)
        <th>
            @Html.DisplayNameFor(model => model.DocumentData)
        <th>
            @Html.DisplayNameFor(model => model.Password)
        
        </th>
        
       
        <th style="width:180px;"></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactWay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopFlg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentMaker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    }
</table>