@model  ChicStoreManagement.WEB.ViewModel.CustomerTrackingModel
@{
    ViewBag.Title = "AddTrackLogView";
}

<h2>意向客户追踪日志添加</h2>

<div class="form-group">
  
    <form role="form" class="form-horizontal" action="~/CustomerTrackLog/TrackLogAdd">
        <table class="table table-responsive">
            <tr>
                <td align="center">
                    <label>当前店铺</label>
                    <input name="店铺" type="text" value="@Model.店铺" readonly="readonly" class="form-control" />
                    <label>接待序号</label>
                    <input type="text" name="接待序号" value="@Model.接待序号" readonly="readonly" class="form-control"/>
                    <lable>跟进时间</lable>
                    <input type="date" name="跟进时间" class="form-control" />
                    <lable>跟进方式</lable>
                    @Html.EditorFor(Model => Model.跟进方式, new { htmlAttributes = new { @class = "form-control" } })
                    <lable>跟进内容</lable>
                    <textarea name="跟进内容" class="form-control" rows="3"></textarea>
                    <lable>跟进结果</lable>
                    @Html.EnumDropDownListFor(Model => Model.跟进结果, new { htmlAttributes = new { @class = "form-control" } })
                    <lable>备注</lable>
                    @Html.EditorFor(Model => Model.备注, new { htmlAttributes = new { @class = "form-control" } })
                    @*<lable>店长审核</lable>
        @Html.EditorFor(Model => Model.店长审核, new { htmlAttributes = new { @class = "form-control" } })*@
                    <label>当前跟进人</label>
                    <input name="跟进人" type="text" value="@Model.跟进人" readonly="readonly" class="form-control" />
                    <br />
                    <lable>是否申请设计师</lable>
                    是 @Html.RadioButtonFor(Model => Model.是否申请设计师, "true", new { htmlAttributes = new { @class = "form-control" } }) |否 @Html.RadioButtonFor(Model => Model.是否申请设计师, "false", new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    <input id="Submit1" type="submit" value="提交" class="btn" />
                </td>
            </tr>
        </table>

    </form>
    <hr />
    <input type="button" class="btn" onclick="javascript:window.history.go(-1);" value="返回上一页">
</div>