@using ChicStoreManagement.Model
@model List<ChicStoreManagement.Model.销售_店铺员工档案>

@{
    
  ViewBag.Title = "测试";
  
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>简单的画一个表格展示数据</h1>
        <table border="1" cellpadding="0" cellspacing="0">
            <tr>
                <th>ID</th>
                <th>店铺ID</th>
                <th>姓名</th>
                <th>性别</th>
                <th>编号</th>
                <th>职务ID</th>
                <th>联系方式</th>
                <th>停用标志</th>
                <th>制单人</th>
                <th>制单日期</th>
                <th>密码</th>
            </tr>
            @foreach (销售_店铺员工档案 staff in Model)
            {
            <tr>
                <td>@staff.ID</td>
                <td>@staff.店铺ID</td>
                <td>@staff.姓名</td>
                <td>@staff.性别</td>
                <td>@staff.编号</td>
                <td>@staff.职务ID</td>
                <td>@staff.联系方式</td>
                <td>@staff.停用标志</td>
                <td>@staff.制单人</td>
                <td>@staff.制单日期</td>
                <td>@staff.密码</td>
                <td></td>
            </tr>
            }
        </table>
        <hr />
        <h1>增加</h1>
        <form action="@Url.Action("Add", "Test")" method="POST">
            姓名:<input name="姓名" />
            年龄:<input name="Age" />
            性别:<input name="性别" />
            <button type="submit">提交</button>
        </form>
        <hr />
        <h1>修改</h1>
        <form action="@Url.Action("update", "Test")" method="POST">
            Id:<input name="ID" />
            姓名:<input name="姓名" />
            
            性别:<input name="性别" />
            <button type="submit">提交</button>
        </form>
        <hr />
        <h1>删除</h1>
        <form action="@Url.Action("Delete", "Test")" method="POST">
            Id:<input name="ID" />
            <button type="submit">提交</button>
        </form>
    </div>
</body>
</html>
