<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewBag.Title = "CHIC门店管理首页";
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    @Scripts.Render("~/Scripts/jquery.cookie.js")
    <script src="~/Scripts/jquery-3.0.0.js">
        function checkCookie() {
           
           var username = $.cookie('userName');

          alert('Welcome again ' + username + '!');

           
        }
    </script>
</head>
<body>
    <div class="jumbotron">
        <h1>CHIC</h1>
        <p class="lead">
            <br />
        </p>
        <p>Chic Casa 希可家居</p>
      

    </div>
    <div>当前店铺:@ViewBag.StoreName</div>
    <div class="row">
        <div class="col-md-4">
            <h2>客户管理</h2>
            <p>

            </p>
            <p><a class="btn btn-default" href="@Url.Action("CustomerIndex","Customer")">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>设计案管理</h2>
            <p></p>
            <p><a class="btn btn-default" href="@Url.Action("DesignSchemeIndex","DesignScheme")">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>意向跟进日志</h2>
            <p></p>
            <p><a class="btn btn-default" href="@Url.Action("TrackLogIndex","CustomerTrackLog")">Learn more &raquo;</a></p>
        </div>
        @if (ViewBag.Position=="店长")
        {
            <div class="col-md-4" id="managerAction">
                <h2>店长管理</h2>
                <p></p>
                <p><a class="btn btn-default" href="@Url.Action("ManagerAction","Manager")">Learn more &raquo;</a></p>
            </div>
        }

    </div>
</body>
</html>
@*<body style="text-align:center;">
    <div class="jumbotron">
        <h1>CHIC</h1>
        <p class="lead">
            <br />
        </p>
        <p>Chic Casa 希可家居</p>


    </div>
    <div>当前店铺:@ViewBag.StoreName</div>
    <div style="margin:0,auto; width:500px;">
        <table>
            <tr>
                <td width="200" height="200">
                    <div style="position:relative;">
                        <img src="~/images/index-左上.png" width="200" height="200" class="img-responsive  img-rounded " />
                        <div>
                            <p><a href="@Url.Action("CustomerIndex","Customer")" style="font-size:larger; font-family:STSong; font-weight:600; position:absolute; z-index:2; left:100px; top:100px"> 客户管理</a></p>
                        </div>
                    </div>
                </td>
                <td width="200" height="200">
                    <div style="position:relative;">
                        <img src="~/images/index-右上.png" width="200" height="200" class="img-responsive  img-rounded " />
                        <div>
                            <p><a href="@Url.Action("DesignSchemeIndex","DesignScheme")" style="font-size:larger; font-family:STSong; font-weight:600; position:absolute; z-index:2; left:100px; top:100px">设计日志</a></p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="200" height="200">
                    <div style="position:relative;">
                        <img src="~/images/index-左下.png" width="200" height="200" class="img-responsive  img-rounded " />
                        <div>
                            <p><a href="@Url.Action("TrackLogIndex","CustomerTrackLog")" style="font-size:larger; font-family:STSong; font-weight:600; position:absolute; z-index:2; left:100px; top:100px">意向日志</a></p>
                        </div>
                    </div>
                </td>
                <td width="200" height="200">

                    <div style="position:relative;">
                        <img src="~/images/index-右下.png" width="200" height="200" class="img-responsive  img-rounded " />
                        <div>
                            <p><a href="@Url.Action("ManagerAction","Manager")" style="font-size:larger; font-family:STSong; font-weight:600; position:absolute; z-index:2; left:100px; top:100px">店长管理</a></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>



    </div>
</body>*@