@model ChicStoreManagement.WEB.ViewModel.CustomerInfoModel
@{
    ViewBag.Title = "接待详细";
}



<div class="container table-responsive">
    <h3>@Model.客户姓名 详细信息</h3>
    @if (Model.是否有意向!=false&&Model.是否有意向!=null)
    {
        if (Model.跟进人==null)
        {
            <label style="font-size:10px;color:red">当前客户无跟进人</label>
        }
        else
        {
            @Html.ActionLink("直接申请设计案","DesignSchemeIndex","DesignScheme",new { id=Model.ID},new {@style="font-size:12px" })
        }
    }
   
    <div style="text-align:center">
        <pre>
         店铺：@Html.DisplayFor(m => Model.店铺)
         接待人： @Html.DisplayFor(m => Model.接待人)
         接待编号：@Html.DisplayFor(m => Model.接待序号)
         进店时间：@Html.DisplayFor(m => Model.进店时间)
         离店时间： @Html.DisplayFor(m => Model.出店时间)
         时长：@Html.DisplayFor(m => Model.进店时长)分钟
         客户类别：@Html.DisplayFor(m => Model.客户类别)</pre>
    </div>
    <table class="table table-bordered table-striped " >

        <tr>
            <td width="12%">
                客户名:
            </td>
            <td width="88%">
                @Html.DisplayFor(m => Model.客户姓名)


                |  @Html.DisplayFor(m => Model.性别)

            </td>

        </tr>
        <tr>
            <td>
                来店次数：
            </td>
            <td> @Html.DisplayFor(m => Model.来店次数)</td>


        </tr>
        <tr>
            <td>年龄段:</td>
            <td>
                @Html.DisplayFor(m => Model.年龄段)
            </td>
        </tr>
        <tr>
            <td>职业：</td>
            <td>
                @Html.DisplayFor(m => Model.客户职业)
            </td>
        </tr>
        <tr>
            <td>着装：</td>
            <td>@Html.DisplayFor(m => Model.客户着装)</td>
        </tr>
        <tr>
            <td>
                联系电话：
            </td>
            <td>
                @Html.DisplayFor(m => Model.客户电话)
            </td>
        </tr>

        <tr>
            <td> 社交软件：</td>
            <td>
                @Html.DisplayFor(m => Model.社交软件)
            </td>
        </tr>

        <tr>
            <td> 客户类型:</td>
            <td>
                @Html.DisplayFor(m => Model.客户类型)
            </td>
        </tr>

        <tr>
            <td>
                客户来源：
            </td>
            <td>
                @Html.DisplayFor(m => Model.客户来源)
            </td>
        </tr>
        <tr>
            <td>同行人：</td>
            <td>@Html.DisplayFor(m => Model.同行人)</td>
        </tr>
        <tr>
            <td>主导者：</td>
            <td>@Html.DisplayFor(m => Model.主导者)</td>
        </tr>
        <tr>
            <td>主导者喜好风格：</td>
            <td>@Html.DisplayFor(m => Model.主导者喜好风格)</td>
        </tr>
        <tr>
            <td>家庭成员：</td>
            <td>@Html.DisplayFor(m => Model.家庭成员)</td>
        </tr>
        <tr>
            <td>特征：</td>
            <td>@Html.DisplayFor(m => Model.特征)</td>
        </tr>

        <tr>
            <td> 使用的空间：</td>
            <td>
                @Html.DisplayFor(m => Model.使用空间) </ td >
        </tr>
        <tr>
            <td>

                装修情况：
            </td>
            <td>
                @Html.DisplayFor(m => Model.装修情况) &nbsp; |
                @if (@Model.装修情况 != null)
                {
                    /**/
                    <b>进度：</b> @Html.DisplayFor(m => Model.装修进度);

                }

            </td>
        </tr>
        <tr>
            <td>
                装修风格：
            </td>
            <td>
                @Html.DisplayFor(m => Model.装修风格)
            </td>
        </tr>
        <tr>
            <td>
                预计使用时间：
            </td>
            <td>
                @Html.DisplayFor(m => Model.预计使用时间)
            </td>
        </tr>
        <tr>
            <td>
                如何得知品牌：
            </td>
            <td> @Html.DisplayFor(m => Model.如何得知品牌)</td>
        </tr>
        <tr>
            <td>比较品牌：</td>
            <td>@Html.DisplayFor(m => Model.比较品牌)</td>
        </tr>

        <tr>
            <td>
                预计购买的产品：
            </td>


            <td>
                <table class="table-responsive table-condensed">
                    @foreach (var ite in @Model.CustomerExceptedBuyModels)
                    {
                        <tr>
                            <td>型号： @Html.DisplayFor(m => ite.型号)</td>
                            <td>备注：@Html.DisplayFor(m => ite.备注)</td>
                        </tr>
                    }
                </table>

            </td>
        </tr>
        <tr>
            <td>
                购买产品的安装地址：
            </td>
            <td>
                @Html.DisplayFor(m => Model.安装地址)
            </td>
        </tr>
        <tr>
            <td>预算：</td>
            <td>@Html.DisplayFor(m => Model.预算金额)</td>
        </tr>
        <tr>
            <td>预报价折扣：</td>
            <td>@Html.DisplayFor(m => Model.预报价折扣)</td>
        </tr>
        <tr>
            <td>返点：</td>
            <td>@Html.DisplayFor(m => Model.返点)</td>
        </tr>
        <tr>
            <td>设计师：</td>
            <td>@Html.DisplayFor(m => Model.设计师)</td>
        </tr>

        <tr>
            <td>

                顾客建议：
            </td>
            <td width="200px">
                @Html.DisplayFor(m => Model.客户建议)
            </td>
        </tr>
        <tr>
            <td>是否有意向：</td>
            @if (Model.是否有意向 == true)
            {
                <td>是</td>

            }
            @if (Model.是否有意向 == false)
            {
                <td>否</td>

            }
            @*<td>@Html.DisplayFor(m => Model.是否有意向)</td>*@
        </tr>
        @if (Model.是否有意向 == true)
        {
            <tr>
                <td>跟进人</td>
                <td>@Html.DisplayFor(m => Model.跟进人)</td>
            </tr>
        }

        <tr>
            <td>最后一次更新人</td>
            <td>@Html.DisplayFor(m => Model.更新人)</td>
        </tr>
        <tr>
            <td>更新时间</td>
            <td>@Html.DisplayFor(m => Model.更新日期)</td>
        </tr>
        <tr >
            <td colspan="2" align="center">@Html.ActionLink("修改信息", "EditCustomerView", new { id = Model.ID }) |@Html.ActionLink("修改客户预购", "ExceptedBuyIndex", new { id = Model.ID }) </td>
        </tr>
    </table>

    <a onclick="javascript:window.history.go(-1);" value="返回上一页">返回上一页</a>
    <br/>
</div>

