@model ChicStoreManagement.WEB.ViewModel.Employees
@{
    ViewBag.Title = "CHIC门店管理登录页面";
}

<div class="jumbotron">
    <h1>CHIC</h1>

    <p>Chic Casa 希可家居</p>
   
</div>

@using (Html.BeginForm("Login", "LogIn", FormMethod.Post, new {@class="form-inline", @role = "form" }))
{
    <p>请登陆系统：<br /></p>
        @Html.AntiForgeryToken()
    <div class="form-group">
        <hr />
        @Html.ValidationSummary(true)

        @Html.LabelFor(model => model.姓名)

        @Html.TextBoxFor(model => model.姓名, new { @class = "form-control", @placeholder = "请填写登录名" })
        @Html.ValidationMessageFor(model => model.姓名)



        @Html.LabelFor(model => model.密码)

        @Html.TextBoxFor(model => model.密码, new { @class = "form-control", @placeholder = "请填写密码", @type = "password" })
        @Html.ValidationMessageFor(model => model.密码)



        <input id="Submit1" type="submit" value="登录" class="btn" />
        <div class="form-group"><label style="color:red;font-size:medium">@TempData["msg"]</label></div>
    </div>
}
@*<form class="form-inline" role="form" action="@Url.Action("Login") " method="post">
    
            <div class="form-group">
                <label for="password" class="sr-only"> 密码</label>
                <input name="password" class="form-control" type="password" placeholder="请填写密码" />
            </div>

            <input id="Submit1" type="submit" value="登录" />

            <div style="color:#ff0000"> @ViewBag.ErrorMessage</div>
          
</form>*@